{% block doctype %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
{% endblock %}
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-uk" xml:lang="en-uk" > 
    <head>
        <title>{% block title %}{% endblock %}</title>
        {% load static %}
        <link rel="stylesheet" href="{% get_static_prefix %}style.css" type="text/css">
    </head>
    <body>
        {% block content %}{% endblock %}
        {% block footer %}
        <hr>
        <p>Powerscourt Services<br>
        Enabling investments in overseas property</a>
        {% endblock %}
    </body>
</html>
