{% extends "client.html" %}

{% block title %}Client List{% endblock %}

{% block content %}
<h1>Client List</h1>
{% for client in client_list %}
<div class="formrow">
    <div class="formlabel1">
        <a href="{{ client.get_absolute_url }}">{{ client.code }}</a>
    </div>
    <div class="formfield">
        is of type {{ client.get_type }}
    </div>
</div>
{% endfor %}
{% endblock %}

{% block pagination %}
<span class="step-links">
    {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
    {% endif %}

    <span class="current">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>

    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">next</a>
    {% endif %}
</span>
{% endblock %}
