{% extends "product.html" %}
{% block title %}Product Detail{% endblock %}
{% block content %}
<h1>Product Detail</h1>
<div class="formrow"><div class="formlabel2">Provider</div> <div class="formfield">{{ product.provider.name }}</div></div>
<div class="formrow"><div class="formlabel2">Name</div> <div class="formfield">{{ product.name }}</div></div>
<div class="formrow"><div class="formlabel2">Prefix</div> <div class="formfield">{{ product.prefix }}</div></div>
<div class="formrow"><div class="formlabel2">Increment</div> <div class="formfield">{{ product.increment }}</div></div>
<div class="formrow"><div class="formlabel2">Display Order</div> <div class="formfield">{{ product.display_order }}</div></div>
{% endblock %}
