{% extends "product.html" %}
{% block title %}Product Detail{% endblock %}
{% block content %}
<h1>Product Detail</h1>
<div class="formrow"><div class="formlabel2">Name</div> <div class="formfield">{{ product.name }}</div>
    <div class="formlabel2"><a href="{% url admin:wggateway_product_change product.id %}">Edit</a></div>
</div>
<div class="formrow"><div class="formlabel2">Provider</div> <div class="formfield"><a href={% url product_provider pk=product.provider.id %}>{{ product.provider.name }}</a></div>
    <div class="formlabel2"><a href="{% url admin:wggateway_productprovider_change product.provider.id %}">Edit</a></div>
</div>
<div class="formrow"><div class="formlabel2">Prefix</div> <div class="formfield">{{ product.prefix }}</div></div>
<div class="formrow"><div class="formlabel2">Increment</div> <div class="formfield">{{ product.increment }}</div></div>
<div class="formrow"><div class="formlabel2">Display Order</div> <div class="formfield">{{ product.display_order }}</div></div>
{% endblock %}
